<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">
    <title><%= title %></title>

    <!--  Stylesheets -->
    <% headerStylesheetURLs.forEach(function(link) { %>
        <link href="<%= link %>" rel="stylesheet">
    <% }); %>

    <!--  Stylesheets -->
    <style>
    .map {
        display: block;
        height: 80vh;
    }
    </style>
</head>