<div class="panel panel-default">
    <div class="panel-heading">
        Victims
    </div>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-defc">
                <thead>
                    <tr>
                        <th>TOKEN</th>
                        <th>NAME</th>
                        <th>GENDER</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i< victms.length; i++) {%>
                       <tr>
                        <td><%= victms[i].token %></td> 
                        <td><%= victms[i].nome %></td>
                        <td><%= victms[i].sexo %></td>
                       </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>