<div class="panel panel-default">
    <div class="panel-heading">
        Register New Victim
    </div>
    <div class="panel-body">
        <form class="form-vertical">
            <fieldset>
                <legend></legend>
                <div class="form-group">
                    <label class="control-label">Tag ID</label>
                    <input type="text" class="form-control" value="AA-BB-CC-DD" disabled>
                </div>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label" for="sel1">Select list:</label>
                    <select class="form-control">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>