<div class="panel panel-default">
    <div class="panel-heading">
    Occurrence Report
    </div>
    <div class="panel-body">
        <form class="form-vertical">
            <fieldset>
                <legend></legend>
                <div class="form-group">
                    <label class="control-label">Occurrence</label>
                    <input type="text" class="form-control" placeholder="Occurence Name">
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sel1">Priority</label>
                    <select class="form-control">
                        <option value="0" selected>1</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>