<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="crises"><i class="fa fa-heartbeat fa-fw"></i> SIGAC Web - Emergency Room</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li>
          <a href="http://sigac.herokuapp.com/dashboard">
              <i class="fa fa-users fa-fw"></i> Dashboard
          </a>
      </li>

      <li>
          <a href="crises">
              <i class="fa fa-ambulance fa-fw"></i> Crisis
          </a>
      </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
</nav>
