<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="dashboard"><i class="fa fa-github-alt fa-fw"></i> SIGAC Web</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

      <li>
          <a href="defc">
              <i class="fa fa-bar-chart fa-fw"></i>
          </a>
      </li>

      <li>
          <a href="#">
              <i class="fa fa-cogs fa-fw"></i>
          </a>
      </li>

      <li>
          <a href="#">
              <i class="fa fa-fire fa-fw"></i>
          </a>
      </li>

      <li>
          <a href="#">
              <i class="fa fa-fire-extinguisher fa-fw"></i>
          </a>
      </li>

      <li>
          <a href="uti/crises">
              <i class="fa fa-heartbeat fa-fw"></i>
          </a>
      </li>

      <li>
          <a href="ambulancia/ambulancias">
              <i class="fa fa-ambulance fa-fw"></i>
          </a>
      </li>

      <li>
          <a href="#">
              <i class="fa fa-clipboard fa-fw"></i>
          </a>
      </li>

      <li>
          <a href="#">
              <i class="fa fa-star-o fa-fw"></i>
          </a>
      </li>
        
      <li>
          <a href="#">
              <i class="fa fa-log-out fa-fw"></i> Logout
          </a>
      </li>        
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
</nav>
