<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><i class="fa fa-github-alt fa-fw"></i> SIGAC Web</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li>
          <a href="#">
              <i class="fa fa-ambulance fa-fw"></i> Crises
          </a>
      </li>

      <li>
          <a href="#">
              <i class="fa fa-medkit fa-fw"></i> Atendimentos
          </a>
      </li>

      <li>
          <a href="#">
              <i class="fa fa-envelope fa-fw"></i> Mensagens
          </a>
      </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
</nav>
