<%- include layouts/header.ejs %>
<link href="/../css/pages/atendimento.css" rel="stylesheet">
</head>
	<body>
	<div class="menu-masthead">
      <div class="container">
        <nav class="menu-nav">
          <a class="menu-nav-item" href="atendimento">Novo Atendimento</a>
          <a class="menu-nav-item" href="ambulancias">Ambulâncias</a>
          <a class="menu-nav-item active" href="#">Ocorrências ativas</a>
		  <a class="menu-nav-item navbar-right">Sair</a>
          <a class="menu-nav-item navbar-right" href="#">Olá João!</a>
        </nav>
      </div>
    </div>
	Página de Ocorrências
	</body>
<%- include layouts/footer.ejs %>
<script>
</script>
</html>

