<%- include layouts/header.ejs %>
</head>
	<body>
		<div id="wrapper">
			<%- include layouts/navigation.ejs %>
			<div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Control Panel</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
							<div class="col-lg-3 col-md-6">
                  <a href="uti/crises">
                    <div class="panel panel-saude">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-heartbeat fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">HEALTH</div>
                                  <div>Emergency Room</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
							<div class="col-lg-3 col-md-6">
                  <a href="ambulancia/atendimento">
                    <div class="panel panel-saude">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-ambulance fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">HEALTH</div>
                                  <div>Ambulance</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
							<div class="col-lg-3 col-md-6">
                  <a href="#">
                    <div class="panel panel-bomb">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-fire fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">FIREFIGHTER</div>
                                  <div>Search and Rescue</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
							<div class="col-lg-3 col-md-6">
                  <a href="#">
                    <div class="panel panel-bomb">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-fire-extinguisher fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">FIREFIGHTER</div>
                                  <div>Rescue and Aftermath</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
            </div>

						<!-- /.row -->
						<div class="row">
							<div class="col-lg-3 col-md-6">
                  <a href="defcivil">
                    <div class="panel panel-defesa">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-cogs fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">CIVIL DEF</div>
                                  <div>Coordenation</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
							<div class="col-lg-3 col-md-6">
                  <a href="#">
                    <div class="panel panel-defesa">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-users fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">CIVIL DEF</div>
                                  <div>Communication</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
							<div class="col-lg-3 col-md-6">
                  <a href="#">
                    <div class="panel panel-policia">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-clipboard fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">POLICE</div>
                                  <div>Occurence Report</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
							<div class="col-lg-3 col-md-6">
                  <a href="#">
                    <div class="panel panel-policia">

                        <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-star-o fa-4x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">POLICE</div>
                                  <div>Preventive Policing</div>
                              </div>
                          </div>
                        </div>
                    </div>
                  </a>
              </div>
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
		<%- include layouts/footer.ejs %>
	</body>
</html>
