<%- include ./layouts/header.ejs %>
    <!-- DataTables CSS -->
    <link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include ./layouts/navigationDEFC.ejs %>
            <div class="container-fluid">
            <br />

                <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Latest Crises
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-defc">
                                    <thead>
                                        <tr>
                                            <th>Crisis</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td><a href="vitimas">Large-scale accident Explosion</a></td>
                                            <td class="text-danger">In progress</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-9">
                <div class="panel panel-default">
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                </div>
                <!-- /.panel panel-default -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        </div>
        <%- include ./layouts/footer.ejs %>
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#dataTables-defc').DataTable({
                responsive: true,
                bFilter: true,
                bPaginate: false,
                bInfo: false,
                dom: '<"pull-left"f><"pull-right"l>tip'
            });
        });
        </script>
    </body>
</html>
