<%- include ./layouts/header.ejs %>
    <!-- DataTables CSS -->
    <link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include ./layouts/navigationDEFC.ejs %>
                <div class="container-fluid">
            <br />

                <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default sigac-fixed">
                        <div class="panel-heading">
                            Latest Crises
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-defc">
                                    <thead>
                                        <tr>
                                            <th>Crisis</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td><a href="#">Large-scale accident Explosion</a></td>
                                            <td class="text-danger">In progress</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-9">
                <div class="panel panel-default">
                    <br />
                    <div id="graphAffectedPeople" style="min-width: 350px; height: 230px; margin: 0 auto"></div>
                    <hr />
                    *** SEGUNDO GRÁFICO AQUI
                    <hr />
                    *** TERCEIRO GRÁFICO AQUI
                    <hr />
                    *** QUARTO GRÁFICO AQUI
                    <hr />
                </div>
                <!-- /.panel panel-default -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        </div>
        <%- include ./layouts/footer.ejs %>
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#dataTables-defc').DataTable({
                responsive: true,
                bFilter: true,
                bPaginate: false,
                bInfo: false,
                dom: '<"pull-left"f><"pull-right"l>tip'
            });
        });
        </script>
        
        <script src="/js/highcharts-custom.js"></script>
        <script>

var time_slots = [];
var light_data = [];
var severe_data = [];
var dead_data = [];
for (var i = 0; i <= 48; i += 2) {
    factor = Math.sqrt((48 - i)/48);
    time_slots.push('-' + (48 - i)/2 + 'h');

    if (i == 0) {
        light_data.push(5 + Math.floor(4 * factor * Math.random()));
        severe_data.push(3 + Math.floor(2 * factor * Math.random()));
        dead_data.push(1 + Math.floor(1 * factor * Math.random()));
    } else {
        light_data.push(light_data[i/2 - 1] + Math.floor(18 * factor * factor * Math.random()));
        severe_data.push(severe_data[i/2 - 1] + Math.floor(12 * Math.sqrt(factor) * factor * Math.random()));
        dead_data.push(dead_data[i/2 - 1] + Math.floor(6 * Math.sqrt(factor) * Math.random()));
    }
}

$(function () {
    $('#graphAffectedPeople').highcharts({
        colors: ['#f4f45f', '#ff4c3c', '#2c3e50'],
        chart: {
            type: 'area'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: time_slots,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: '# Affected'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' persons'
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [{
            name: 'Lightly Injured',
            data: light_data
        }, {
            name: 'Severely Injured',
            data: severe_data
        }, {
            name: 'Dead',
            data: dead_data
        }]
    });
});
        </script>
    </body>
</html>
