<%- include ./layouts/header.ejs %>
    <!-- DataTables CSS -->
    <link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include ./layouts/navigationDEFC.ejs %>
            <div class="container-fluid">
            <br />

                <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Latest Crises
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-defc">
                                    <thead>
                                        <tr>
                                            <th>Crisis</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td><a href="vitimas">Large-scale accident Explosion</a></td>
                                            <td class="text-danger">In progress</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                        <tr class="odd gradeX">
                                            <td>Large-scale accident Landslide</td>
                                            <td class="text-muted">Closed</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-9">
                <div class="panel panel-default">
                    <div id="graphAffectedPeople" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                    <br />
                    *** GRÁFICOS AQUI ***
                </div>
                <!-- /.panel panel-default -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        </div>
        <%- include ./layouts/footer.ejs %>
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#dataTables-defc').DataTable({
                responsive: true,
                bFilter: true,
                bPaginate: false,
                dom: '<"pull-left"f><"pull-right"l>tip'
            });
        });
        </script>
        
        <script src="/js/highcharts-custom.js"></script>
        <script>

var time_slots = [];
var yellow_data = [];
for (var i = 0; i <= 48; i += 2) {
    time_slots.push(i + 'h');
    if (i == 0) {
        yellow_data.push(12000 + Math.floor(Math.random() * 600));
    }
    else {
        yellow_data.push(yellow_data[i/2 - 1] + Math.floor(20 * Math.random()));
    }
}

$(function () {
    $('#graphAffectedPeople').highcharts({
        colors: ['#FFFF00', '#FF0000'],
        chart: {
            type: 'area'
        },
        title: {
            text: 'Amount of affected people'
        },
        subtitle: {
            text: 'per health state assessment'
        },
        xAxis: {
            categories: time_slots,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Billions'
            },
            labels: {
                formatter: function () {
                    return this.value / 1000;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' millions'
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [{
            name: 'Yellow',
            data: yellow_data
        }, {
            name: 'Red',
            data: yellow_data
        }]
    });
});
        </script>
    </body>
</html>
