<%- include layouts/header.ejs %>
     <link href="/../css/login.css" rel="stylesheet">
    </head>
    <body>

	<div class="container">

	  <div class="row">
		<div class="col-md-6 text-right"><img src="/../images/icon-sigac.png" style="width:100px;"></div>
		<div class="col-md-6 text-left"><h1><b>SIGAC <br />Web</b></h1></div>
	  </div>
      <form class="form-signin" id="formLogin" onsubmit="return index.api_user_login();">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="login" class="form-control" placeholder="Email" value="adm@sigac.com" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="senha" class="form-control" placeholder="Senha" value="sigac" required>
        <div class="checkbox hide">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
      </form>
		<div class="row text-center"><small>Integrated Management System for Crisis and Incidents</small></div>
    </div>

   <%- include layouts/footer.ejs %>
   <script type="text/javascript" src="/../js/pages/index.js"></script>
  </body>
</html>
