<%- include ./layouts/header.ejs %>
    <!-- DataTables CSS -->
    <link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include ./layouts/navigationPOLIC.ejs %>
                <div class="container-fluid">
            <br />

				<div class="row" >
					<div class="col-md-9" >
                <div class="alert alert-info" >
                  <center> <b> Register new Bulletin </b> </center>
                </div>
				
				<div class="row" >
					<div class="col-md-6" >
                	<form method="post" action="/polic">
				    <label>*Office ID:</label>
                    <div class="form-group">
                        <input type="int" name="officerid"  placeholder="Ex.: Officer ID" class="form-control" id="officerid" />
                    </div>
					
					<label>Victim Identification:</label>
                    <div class="form-group">
                        <input type="text" name="id"  placeholder="Ex.: 43003304" class="form-control" id="id" />
                    </div>
					
					<label>Full Name of the Victim:</label>
                    <div class="form-group">
                        <input type="text" name="name"  placeholder="Ex.: Full name" class="form-control" id="name" />
                    </div>
					
					<label>Adress:</label>
                    <div class="form-group">
                        <input type="text" name="adress"  placeholder="Ex.: Kennedy St. 47" class="form-control" id="adress" />
                    </div>
					
					<label>City:</label>
                    <div class="form-group">
                        <input type="text" name="city"  placeholder="Ex.: St. Louis" class="form-control" id="city" />
                    </div>

					<label>State:</label>
                    <div class="form-group">
                        <input type="text" name="state"  placeholder="Ex.: MO" class="form-control" id="state" />
                    </div>
					
					<label>Date of the Fact:</label>
                    <div class="form-group">
                        <input type="date" name="date_fact"  placeholder="Ex.: 03/04/2015" class="form-control" id="date_fact" />
                    </div>
					
					<label>Time of the Fact:</label>
                    <div class="form-group">
                        <input type="time" name="time_fact"  placeholder="Ex.: 14:15" class="form-control" id="time_fact" />
                    </div>
					</div>
					
				<div class="row" >
					<div class="col-md-6" >
					<label>Bulletin Register Date:</label>
                    <div class="form-group">
                        <input type="date" name="dt_start_attend"  placeholder="Ex.: 03/04/2015" class="form-control" id="dt_start_attend" />
                    </div>
					
					<label>Bulletin Register Time:</label>
                    <div class="form-group">
                        <input type="time" name="time_start_attend"  placeholder="Ex.: 14:15" class="form-control" id="time_start_attend" />
                    </div>
					
                    <label>Type of Incident:</label>
                    <div class="form-group">
                        <input type="text" name="inc_type"  placeholder="Ex.: Missing Person" class="form-control" id="inc_type" />
                    </div>
					
						<label>Number of Missing Victims:</label>
                    <div class="form-group">
                        <input type="int" name="missing"  placeholder="Ex.: 10" class="form-control" id="missing"/>
                    </div>
					
					<label>Bulletin Close Date:</label>
                    <div class="form-group">
                        <input type="date" name="dt_end_attend"  placeholder="Ex.: 03/04/2015" class="form-control" id="dt_end_attend" />
                    </div>
					
					<label>Bulletin Close Time:</label>
                    <div class="form-group">
                        <input type="time" name="time_end_attend"  placeholder="Ex.: 14:15" class="form-control" id="time_end_attend" />
                    </div>
					
					<label>Description:</label>
					<div class="form-group">
                        <textarea name="description" placeholder="Ex.: Missing Person" class="form-control" id="description" rows="3"></textarea>
                    </div>
			
															
                    <div class="form-group">
					                    
					<button type="submit" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert </button>
									
					</div>
                </form>
            </div>

	
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
			
<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Police Bulletin</h4>
      </div>
      <div class="modal-body">
        <p>A new bulletin has been recorded.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<%- include ../views/layouts/footer.ejs %>
        </script>
    </body>
</html>
