<%- include layouts/header.ejs %>
<link href="/../css/pages/atendimento.css" rel="stylesheet">
</head>
	<body>
	<div class="menu-masthead">
    <div class="container">
      <nav class="menu-nav">
        <a class="menu-nav-item" href="atendimento">Novo Atendimento</a>
        <a class="menu-nav-item" href="ambulancias">Ambulâncias</a>
        <a class="menu-nav-item" href="chamados">Ocorrências ativas</a>
        <a class="menu-nav-item active" href="#">Relatório</a>

		    <a class="menu-nav-item navbar-right">Sair</a>
        <a class="menu-nav-item navbar-right" href="#">Olá João!</a>

      </nav>
    </div>
  </div>

  <div class="container body-atendimento">
    <div class="row">
      <div class="col-md-3">
                <div class="alert alert-info" role="alert">
                    <b>Heatmap:</b> Inicialmente configure a região do heatmap a ser gerado.
                </div>
                <form id="heatmap_form">
                    <label>Tipo de ocorrência:</label>
                    <div class="form-group">
                      <select class="form-control" id="occurrence_type">
                        <option>Todas</option>
                        <option>Assaltos</option>
                        <option>Roubos</option>
                        <option>Acidentes de Trânsito</option>
                        <option>Incêndios</option>
                      </select>
                    </div>

                    <label>Centro da pesquisa:</label>
                    <div class="input-group form-group">
                        <input type="text" class="form-control" id="heatmapCenter" placeholder="Ex.: Pq. Santos Dumont, São José dos Campos" />
                        <span class="input-group-btn">
                            <button id="searchCenterButton" type="button" class="btn btn-default" aria-label="Search">
                              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    <label>Raio da pesquisa:</label>
                    <div class="input-group form-group">                        
                        <input type="number" value="1" min=".5" step=".1" class="form-control" id="searchRadius" />
                        <span class="input-group-addon" id="basic-addon2">km</span>
                    </div>
                    <button type="submit" id="generate_heatmap" class="btn btn-primary">Gerar Heatmap</button>
                </form>
            </div>
      <div class="col-md-9">
                <div id="map"></div>
            </div>
    </div>
  </div>
	
<%- include layouts/footer.ejs %>

<script>

    var map, heatmap, geocoder;
    var heatmapCircle;
    var pointMvc = new google.maps.MVCArray([]);

    function initialize() {
      initMap();
      bindFormToMap();
    }

    function updatePoints(finished) {
      $.ajax({ 
        url: "reports/get_list", 
        type: "get",
        data: {
          "r": heatmapCircle.getRadius(),
          "center": {
            "lat": heatmapCircle.getCenter().H,
            "lng": heatmapCircle.getCenter().L
          }
        },
        success: function(resp) {
          while(pointMvc.getLength() > 0) pointMvc.pop();

          var points = JSON.parse(resp).reports;

          for (var i=0; i<points.length; i++) {
            var p = points[i];
            pointMvc.push(new google.maps.LatLng(p.lat, p.lng));
          }
          if (finished) finished(true);
        },
        error: function() {
          if (finished) finished(false);
        }
      });
    }

    function roundDecimal(num, decplaces) {
        var multiplier = 1;
        while (decplaces-- > 0) multiplier *= 10;
        return Math.round(num * multiplier) / multiplier;
    }

    function initMap() {
      var center = new google.maps.LatLng(-23.200809, -45.892521);
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center,
        mapTypeId: google.maps.MapTypeId.HYBRID,
        streetViewControl: false
      });
      geocoder = new google.maps.Geocoder();

      heatmap = new google.maps.visualization.HeatmapLayer({
        data: pointMvc,
        map: map,
        radius: 16
      });

      heatmapCircle = new google.maps.Circle({
        center: center,
        clickable: true,
        editable: true,
        draggable: false,
        fillColor: '#1E90FF',
        strokeColor: '#1E90FF',
        fillOpacity: 0.2,
        strokeOpacity: 0.4,
        strokeWeight: 2,
        radius: 1000,
        zIndex: 1,
        map: map,
      });
    }

    var editingCircle = false;

    function setHeatmapCircleRadius(radius) {
      editingCircle = true;
      heatmapCircle.setRadius(radius);
      editingCircle = false;
    }

    function setHeatmapCircleCenter(center) {
      editingCircle = true;
      heatmapCircle.setCenter(center);
      editingCircle = false;
    }

    function bindFormToMap() {
      // Heatmap search radius
      google.maps.event.addListener(heatmapCircle, 'radius_changed', function() {
        if (editingCircle) return;

        var radius = Math.round(heatmapCircle.getRadius());
        if (radius < 500) {
          setHeatmapCircleRadius(radius);
        }
        $('#searchRadius').val(radius / 1000.0);
        updateMapZoomLevel();
      });

      $('#searchRadius').change(function() {
        var radius = $(this).val();
        if (isNaN(radius)) {
          $(this).val(radius = 1);
        } else if (radius < 0.5) {
          $(this).val(radius = 0.5);
        }

        setHeatmapCircleRadius(1000 * radius);
        updateMapZoomLevel();
      });

      // Heatmap search center
      google.maps.event.addListener(heatmapCircle, 'center_changed', function() {
        if (editingCircle) return;

        var c = heatmapCircle.getCenter();
        map.panTo(c);

        $('#heatmapCenter').val(roundDecimal(c.lat(), 6) + " " + roundDecimal(c.lng(), 6));
        getFriendlyAddress(c, function(address) {
          $('#heatmapCenter').val(address);
        });
      });

      $('#searchCenterButton').click(function() {
        searchHeatmapLocation($('#heatmapCenter').val(), function(location) {
          setHeatmapCircleCenter(location);
          map.setCenter(location);
          updateMapZoomLevel();
        });
      });

      $('#heatmapCenter').keypress(function(e) {
        if(e.keyCode == 13) {
          e.preventDefault();
          $("#searchCenterButton").click();
        }
      });
      $('#searchRadius').keypress(function(e) {
        if(e.keyCode == 13) {
          e.preventDefault();
          $(this).change();
        }
      });

      $('#heatmap_form').submit(function() {
        var btn = $('#generate_heatmap');
        if (heatmapCircle.getVisible()) {
          // heatmap not generated yet, do it now
          btn.text('Gerando...');
          updatePoints(function(success) {
            if (success) {
              setHeatmapGenerated(true);
            } else {
              setHeatmapGenerated(false);
            }
          });
        } else {
          while (pointMvc.getLength() > 0) pointMvc.pop();
          setHeatmapGenerated(false);
        }
        return false;
      });
    }

    function setHeatmapGenerated(generated) {
      $('#generate_heatmap').text(generated ? 'Refazer Pesquisa' : 'Gerar Heatmap');
      heatmapCircle.setVisible(!generated);
      map.setOptions({
        zoomControl: !generated,
        mapTypeControl: !generated,
        draggable: !generated,
        scrollwheel: !generated,
        disableDoubleClickZoom: generated
      });
      $('#searchRadius, #heatmapCenter, #searchCenterButton').prop('disabled', generated);
    }

    function zoomLevelForRadius(loc, radius) {
        var meters_per_pixel = radius / $('#map').height();
        var zoom = Math.log2(156543.03392 * Math.cos(loc.lat() * Math.PI / 180) / meters_per_pixel);
        return Math.floor(zoom) - 1;
    }

    function updateMapZoomLevel() {
        var zoom = zoomLevelForRadius(heatmapCircle.getCenter(), heatmapCircle.getRadius());
        if (zoom != map.getZoom()) {
            map.setZoom(zoom);
            map.setCenter(heatmapCircle.getCenter());
        }
    }

    function searchHeatmapLocation(address, callback) {
        geocoder.geocode({
            address: address,
            region: 'BR',
            bounds: map.getBounds(),
            componentRestrictions: {country: 'BR'}
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK && results[0]) {
                var location = results[0].geometry.location;
                callback(location);
            }
        });
    }

    function getFriendlyAddress(location, callback) {
      geocoder.geocode({
        location: location
      }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK && results[0]) {
            var address = results[0].formatted_address;
            callback(address);
          }
      });
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4qT-G5vu5hSoFy89zR8YdTARSsez-3Ls&libraries=visualization&callback=initialize">
</script>

</body>
</html>
