<%- include layouts/header.ejs %>
<link href="/../css/pages/atendimento.css" rel="stylesheet">
</head>
	<body>
	<div class="menu-masthead">
    <div class="container">
      <nav class="menu-nav">
        <a class="menu-nav-item" href="atendimento">Novo Atendimento</a>
        <a class="menu-nav-item" href="ambulancias">Ambulâncias</a>
        <a class="menu-nav-item" href="chamados">Ocorrências ativas</a>
        <a class="menu-nav-item active" href="#">Relatório</a>

		    <a class="menu-nav-item navbar-right">Sair</a>
        <a class="menu-nav-item navbar-right" href="#">Olá João!</a>

      </nav>
    </div>
  </div>

  <div class="container body-atendimento">
    <div class="row">
      <div class="col-md-3">
                <div class="alert alert-info" role="alert">
                    <b>Heatmap:</b> Inicialmente configure a região do heatmap a ser gerado.
                </div>
                <form onsubmit="return false;">
                    <label>Centro da pesquisa:</label>
                    <div class="input-group form-group">
                        
                        <input type="text" class="form-control" id="heatmapCenter" placeholder="Ex.: Pq. Santos Dumont, São José dos Campos" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Search">
                              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    <label>Raio da pesquisa:</label>
                    <div class="input-group form-group">                        
                        <input type="number" value="1" min=".5" step=".1" class="form-control" id="searchRadius" />
                        <span class="input-group-addon" id="basic-addon2">km</span>
                    </div>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Gerar Heatmap</button>
                </form>
            </div>
      <div class="col-md-9">
                <div id="map"></div>
            </div>
    </div>
  </div>
    <!-- Modal: Confirmação do Atendimento -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <center>
                <img src="/../images/ok.png" style="width:150px;" />
                <br />
                <label>Ocorrência aberta com sucesso!</label>  
            </center>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>    

	
<%- include layouts/footer.ejs %>

<script>

    var map, heatmap;
    var heatmapCircle;
    var pointMvc = new google.maps.MVCArray([]);

    function initialize() {
      initMap();
      updatePoints();
    }

    function updatePoints() {
      var response;
      $.get( "reports/get_list", function(r) {
        while(pointMvc.getLength() > 0) pointMvc.pop();

        console.log('parsing');
        var points = JSON.parse(r).reports;

        console.log('before for');
        console.log(points);
        for (var i=0; i<points.length; i++) {
          var p = points[i];
          console.log(p);
          console.log('adding point');
          pointMvc.push(new google.maps.LatLng(p.lat, p.lng));
        }
      });
    }

    function roundDecimal(num, decplaces) {
        var multiplier = 1;
        while (decplaces-- > 0) multiplier *= 10;
        return Math.round(num * multiplier) / multiplier;
    }

    function initMap() {
      var center = new google.maps.LatLng(-23.200809, -45.892521);
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center,
        mapTypeId: google.maps.MapTypeId.SATELLITE
      });

      heatmap = new google.maps.visualization.HeatmapLayer({
        data: pointMvc,
        map: map
      });

      heatmapCircle = new google.maps.Circle({
        center: center,
        clickable: true,
        editable: true,
        draggable: false,
        fillColor: '#1E90FF',
        strokeColor: '#1E90FF',
        fillOpacity: 0.2,
        strokeOpacity: 0.4,
        strokeWeight: 2,
        radius: 1000,
        zIndex: 1,
        map: map,
      });

      google.maps.event.addListener(heatmapCircle, 'radius_changed', function() {
        var rad = Math.round(heatmapCircle.getRadius());
        if (rad < 500) {
            heatmapCircle.setRadius(rad = 500);
        }
        $('#searchRadius').val(rad / 1000.0);
      });
      $('#searchRadius').change(function() {
        heatmapCircle.setRadius(1000 * $(this).val());
      });

      google.maps.event.addListener(heatmapCircle, 'center_changed', function() {
        var c = heatmapCircle.getCenter();
        $('#heatmapCenter').val(roundDecimal(c.lat(), 6) + " " + roundDecimal(c.lng(), 6));
      });
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4qT-G5vu5hSoFy89zR8YdTARSsez-3Ls&libraries=visualization&callback=initialize">
</script>

</body>
</html>
