<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Last 20 Readings
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-defc">
                        <thead>
                            <tr>
                                <th>Value</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% line_counter = 0 %>
                            <% content.forEach(function(reading) { %>
                            <% line_counter++ %>
                            <tr class="<%= line_counter % 2 === 0? 'even' : 'odd' %> gradeX">
                                <td><%= reading.value %></td>
                                <td><%= reading.timestamp %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>