<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Stations Map Viewer
                </div>
                <div id="map" class="map">
                    </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Stations
                </div>
                <div class="panel-body">
                    <ul class="list-group" id="stations-map-list">
                    </ul>

                    <button type="button" class="btn btn-primary center-block" id="stations-map-view-all-button">View All</button>
                </div>
            </div>
        </div>
    </div>
</div>