<%- include ../layouts/header.ejs %>
<link href="/../css/pages/atendimento.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include ../layouts/navigationAmbulancia.ejs %>

            <div class="container-fluid body-atendimento">
        <div class="row" >
            <div class="col-md-3" >
                <div class="alert alert-info" >
                  <center> <b> Register new Equipment </b> </center>
                </div>
                <form onsubmit="return !!(cadastroEquipamento.api_insert_equip() & getEquipamentoAmb.show_equip());"  id="formInsertEquip">

                    <label>Equipment Description:</label>
                    <div class="form-group">
                        <input type="text" name="equipDesc"  placeholder="Ex.: Maca Retrátil em Alumínio" class="form-control" id="equipDesc" />
                    </div>

                    <div class="form-group">
                        <button type="submit" name="bt_1" class="btn btn-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register </button>
                    </div>

                </form>

                <div class="form-group">
                    <label>Registered Equipment List:</label>
                    <table id="tableEquipamento" class="table table-hover">
                    				<tbody>
                    				</tbody>
                    </table>
                </div>


            </div>

            <div class="col-md-3">
                <div class="alert alert-info" >
                  <center> <b> Insert Equipament in Ambulance </b> </center>
                </div>
                <form onsubmit="return cadastroEquipamentoAmb.api_insert_equip_amb();" id="formInsertEquipAmb">

                     <label>Equipment Description:</label>
                    <div class="form-group">
                        <select name="nomeEquipamentoAmb" class="form-control" id="nomeEquipamentoAmb"></select>
                    </div>

                    <label>License Plate:</label>
                    <div class="form-group">
                        <select name="placaAmb" id="placaAmb" class="form-control placa"></select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert </button>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <div class="alert alert-info" >
                  <center> <b> Show Equipment in Ambulance </b> </center>
                </div>
                <form onsubmit="return getEquipamentoAmb.api_get_equip_amb();" id="formGetEquipAmb">

                    <label>License Plate:</label>
                    <div class="form-group">
                        <select name="placaAmbGet" id="placaAmbGet" class="form-control placa"></select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show Equipment </button>
                    </div>

                </form>

               <div class="form-group">
                    <!--<textarea type="text"  class="form-control" id="equipamento_id"  rows="10"  readonly/></textarea>-->
                    <label>Equipment List:</label>
                    <table id="tableEquipamentoPlaca" class="table table-hover">
                      <tbody>
                        <tr><td>Nothing results</td></tr>
                      </tbody>
                    </table>

                </div>



            </div>

        </div>

        </div>

    </div>

    <!-- Modal: Mensagens de Ações -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <center>
                <img src="" id="imgMsg" style="width:100px;" />
                <br />
                <label id="labelMsg"></label>
            </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
    </div>



<%- include ../layouts/footer.ejs %>

<script type="text/javascript" src="/../js/pages/cadastroEquipamento.js"></script>
<script type="text/javascript" src="/../js/pages/cadastroEquipamentoAmb.js"></script>
<script type="text/javascript" src="/../js/pages/getEquipamentoAmb.js"></script>

<script>
    $(document).ready(function(){

        getEquipamentoAmb.show_equip();
        getEquipamentoAmb.show_amb();
    });
</script>
</div>
</body>
</html>
