<%- include ../layouts/header.ejs %>
<link href="/../css/pages/atendimento.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include ../layouts/navigationAmbulancia.ejs %>

            <div class="container-fluid body-atendimento">
        <div class="row" >
            <div class="col-md-3" >
                <div class="alert alert-info" >
                  <center> <b> Register new Equipment </b> </center>
                </div>
                <form onsubmit="return !!(cadastroEquipamento.api_insert_equip() & getEquipamentoAmb.show_equip());"  id="formInsertEquip">
                    
                    <label>Equipment Description:</label>
                    <div class="form-group">
                        <input type="text" name="equipDesc"  placeholder="Ex.: Maca Retrátil em Alumínio" class="form-control" id="equipDesc" />
                    </div>

                    <div class="form-group">
                        <button type="submit" name="bt_1" class="btn btn-info"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Register </button>
                         <button type="button" onclick="cadastroEquipamento.api_delete_equip() & getEquipamentoAmb.show_equip()" class="btn btn-info"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Delete </button>
                    </div>
                   
                </form>

                <div class="form-group">
                    <label>Registered Equipment List:</label>
                    <textarea type="text"  class="form-control" id="lista_equipamentos"  rows="10"  readonly/></textarea>
                </div>


            </div>



            <div class="col-md-3">
                <div class="alert alert-info" >
                  <center> <b> Insert Equipament in Ambulance </b> </center>
                </div>
                <form onsubmit="return cadastroEquipamentoAmb.api_insert_equip_amb();" id="formInsertEquipAmb">
                    
                     <label>Equipment Description:</label>
                    <div class="form-group">
                        <input type="text"  name="nomeEquipamentoAmb" class="form-control" id="nomeEquipamentoAmb"  />
                    </div>

                    <label>License Plate:</label>
                    <div class="form-group">
                        <input type="text" name="placaAmb" placeholder="AAA-1234"  value="AAA-1234" class="form-control" id="placaAmb" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Insert </button>
                        <button type="button" onclick="cadastroEquipamentoAmb.api_delete_equip_amb();" class="btn btn-info"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Delete </button>
                    </div>
                   
                </form>
                <div class="form-group">
                    <label>Registered Ambulance List:</label>
                    <textarea type="text"  class="form-control" id="lista_amb"  rows="10"  readonly/></textarea>
                </div>
            </div>

            <div class="col-md-3">
                <div class="alert alert-info" >
                  <center> <b> Show Equipment in Ambulance </b> </center>
                </div>
                <form onsubmit="return getEquipamentoAmb.api_get_equip_amb();" id="formGetEquipAmb">
                    
                    <label>License Plate:</label>
                    <div class="form-group">
                        <input type="text" name="placaAmbGet" placeholder="AAA-1234"  value="AAA-1234" class="form-control" id="placaAmbGet" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Show Equipment </button>
                    </div>

                </form>

               <div class="form-group">
                    <textarea type="text"  class="form-control" id="equipamento_id"  rows="10"  readonly/></textarea>
                </div>

               

            </div>

        </div>

        </div>

    </div>
    
<%- include ../layouts/footer.ejs %>

<script type="text/javascript" src="/../js/pages/cadastroEquipamento.js"></script>
<script type="text/javascript" src="/../js/pages/cadastroEquipamentoAmb.js"></script>
<script type="text/javascript" src="/../js/pages/getEquipamentoAmb.js"></script>

<script>
    $(document).ready(function(){

        getEquipamentoAmb.show_equip();
        getEquipamentoAmb.show_amb();
    });
</script>
</div>
</body>
</html>
