<%- include ../layouts/header.ejs %>
<link href="/../css/pages/atendimento.css" rel="stylesheet">
</head>
    <body>
        <div id="wrapper">
            <%- include ../layouts/navigationAmbulancia.ejs %>

            <div class="container-fluid body-atendimento">
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-info" >
                  <center> <b> Post New Equipment </b> </center>
                </div>
                <form onsubmit="return cadastroEquipamento.api_insert_equip();" id="formInsertEquip">
                    
                     <label>Equipment ID:</label>
                    <div class="form-group">
                        <input type="number"  name="idEquipamento" class="form-control" id="idEquipamento" min="1" value="1" />
                    </div>

                    <label>Description:</label>
                    <div class="form-group">
                        <input type="text" name="equipDesc"  placeholder="Ex.: Maca Retrátil em Alumínio" class="form-control" id="equipDesc" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Register </button>
                    </div>
                   
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-info" >
                  <center> <b> Insert Equipament in Ambulance </b> </center>
                </div>
                <form onsubmit="return cadastroEquipamentoAmb.api_insert_equip_amb();" id="formInsertEquipAmb">
                    
                     <label>Equipament ID:</label>
                    <div class="form-group">
                        <input type="number"  name="idEquipamentoAmb" class="form-control" id="idEquipamentoAmb" min="1" value="1" />
                    </div>

                    <label>License Plate:</label>
                    <div class="form-group">
                        <input type="text" name="placaAmb" placeholder="AAA-1234"  value="AAA-1234" class="form-control" id="placaAmb" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Insert </button>
                    </div>
                   
                </form>
            </div>
        </div>

    </div>
    
<%- include ../layouts/footer.ejs %>

<script type="text/javascript" src="/../js/pages/cadastroEquipamento.js"></script>
<script type="text/javascript" src="/../js/pages/cadastroEquipamentoAmb.js"></script>

<script>
    $(document).ready(function(){
       // atendimento.init();
    });
</script>
</div>
</body>
</html>
