<%- include ../layouts/header.ejs %>
<link href="/../css/pages/atendimento.css" rel="stylesheet">
</head>
	<body>
		<div id="wrapper">
			<%- include ../layouts/navigationAmbulancia.ejs %>

			<div class="container-fluid body-atendimento">
		<div class="row">
			<div class="col-md-3">
                <div class="alert alert-info" id="passo" role="alert">
                </div>
                <form onsubmit="return false;">
                    <label>Local da emergência:</label>
                    <div class="input-group form-group">

                        <input type="text" class="form-control" id="localEmergencia" placeholder="Ex.: Avenida 9 de Julho, Centro, São José dos Campos" onkeydown="if(event.keyCode == 13){atendimento.pesquisarEndereco();}" />
                        <input type="hidden" id="enderecoAtendimentoGoogle" />
                        <span class="input-group-btn">
                            <button type="button" onclick="atendimento.pesquisarEndereco();" class="btn btn-default" aria-label="Search">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    <label>Quantidade de vítimas:</label>
                    <div class="form-group">
                        <input type="number" min="1" value="1" class="form-control" id="qtdVitimas" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info" onclick="atendimento.chamarAmbulancia();"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Calcular Ambulâncias</button>
                    </div>
                    <label>Observação:</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" id="btnRegistrarOcorrencia" class="btn btn-primary" data-toggle="modal" disabled data-target="#myModal">Registrar Ocorrência</button>
                </form>
            </div>
			<div class="col-md-9">
            		<div id="map"></div>
                    <div id="mapaLegenda"></div>
            </div>
		</div>
	</div>
    <!-- Modal: Confirmação do Atendimento -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <center>
                <img src="/../images/ok.png" style="width:150px;" />
                <br />
                <label>Ocorrência aberta com sucesso!</label>
            </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
<%- include ../layouts/footer.ejs %>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="/../js/mapa.js"></script>
<script type="text/javascript" src="/../js/pages/atendimento.js"></script>
<script>
    $(document).ready(function(){
        atendimento.init();
    });
</script>
</div>
</body>
</html>
